# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Coverage reports
.coverage
coverage.xml

# pytest cache
.pytest_cache/
.hypothesis/
.lycheecache/
.lycheecache

# Virtual environments
.venv/

dictionary.dic

# Node tooling
node_modules/
