# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Coverage reports
.coverage
coverage.xml

# pytest cache
.pytest_cache/
.hypothesis/
.lycheecache/
.lycheecache

# MkDocs site output
site/

# Virtual environments
.venv/

dictionary.dic

# Node artifacts
node_modules/
viewer/coverage/
