# Core dependencies will be added as the project evolves
pytest
coverage
coverage-badge
pytest-cov
detect-secrets
publicsuffix2
mypy
pip-audit
pyspelling
keyring
hypothesis
tomli
pydocstyle
pyyaml
pymarkdownlnt==0.9.32
types-PyYAML
PyYAML
